<app-header title="Alert" back_addreess="home"></app-header>
<ion-content>
  <ion-button (click)="presentAlert()" expand="block" shape="round"> Activate Alert </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round"> Activate Alert Multi-Buttons </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block" shape="round"> Activate Alert Prompt </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block" shape="round"> Activate Alert Radio </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block" shape="round"> Activate Check Box </ion-button>
  <ion-button (click)="myAert()" expand="block" shape="round"> Activate my Own Alert </ion-button>
</ion-content>


