<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref=home></ion-back-button>
    </ion-buttons>

    <ion-title>Pop Over</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showPop($event)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="showPop($event)" expand="block" shape="round">
    Show Pop-Over
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showPop($event)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
